.App {
    --header_height: 60px;
    --font-family: "Montserrat", sans-serif;

    padding-top: 130px;

}

.hw {
 padding: 24px 70px;
}

.hwTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin: 0 0 10px 70px;
}